@page "{id:int}"
@model RazorPagesMonsters.Pages.Monsters.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Monster</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monster.MonsterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monster.MonsterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monster.YearPopularized)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monster.YearPopularized)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monster.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monster.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monster.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monster.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monster.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monster.Rating)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Monster.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
