@page
@model RazorPagesMonsters.Pages.Monsters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Monster</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monster.MonsterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monster.MonsterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monster.YearPopularized)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monster.YearPopularized)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monster.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monster.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monster.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monster.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Monster.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
